<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Alumnos</title>
</head>

<body>
    <section class="users-header">
        <div class="title">
            <h2>Usuarios</h2>
            <button mat-raised-button color="primary" class="btnAddUser" (click)="addUser()">
                Agregar Usuario
            </button>
            <!-- Botón para alternar entre users activos y eliminados -->
            <button mat-raised-button color="secondary" class="btnStatus" (click)="showUsersTable()">
                {{ showDisabledTable ? 'Mostrar Usuarios Habilitados' : 'Mostrar Usuarios Deshabilitados' }}
            </button>
        </div>
    </section>

    <section class="users-table">
        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

            <ng-container matColumnDef="Name">
                <th mat-header-cell *matHeaderCellDef class="centered-header">
                    Nombre
                </th>
                <td mat-cell *matCellDef="let user" class="centered-cell">
                    {{ [user.lastname, user.name] | unionNombreApellido }}
                </td>
            </ng-container>

            <ng-container matColumnDef="Contact">
                <th mat-header-cell *matHeaderCellDef class="centered-header">
                    Contacto
                </th>
                <td mat-cell *matCellDef="let user" class="centered-cell">
                    {{ user.email }} - {{ user.phone }}
                </td>
            </ng-container>

            <ng-container matColumnDef="AdditionalInformation">
                <th mat-header-cell *matHeaderCellDef class="centered-header">
                    Fecha de Nacimiento
                </th>
                <td mat-cell *matCellDef="let user" class="centered-cell">
                    {{ user.birthdate | date : "dd/MM/yyyy" }}
                </td>
            </ng-container>

            <ng-container matColumnDef="Address">
                <th mat-header-cell *matHeaderCellDef class="centered-header">
                    Dirección
                </th>
                <td mat-cell *matCellDef="let user" class="centered-cell">
                    {{ user.address }}
                </td>
            </ng-container>

            <!-- <ng-container matColumnDef="Detalle">
                <th mat-header-cell *matHeaderCellDef class="centered-header">
                    Detalles
                </th>
                <td (click)="detalleAlumno(user.idAlumno)" mat-cell *matCellDef="let user" class="centered-cell">
                    <span class="btnDetalle">Ver Más</span>
                </td>
            </ng-container>
 -->
            <ng-container matColumnDef="Actions">
                <th mat-header-cell *matHeaderCellDef class="centered-header">
                    Acciones
                </th>
                <td mat-cell *matCellDef="let user" class="centered-cell">
                    <button mat-mini-fab color="primary" class="btnActions" aria-label="editar" (click)="editUser(user)"
                        *ngIf="!showDisabledTable">
                        <mat-icon>edit</mat-icon>
                    </button>
                    
                    <button mat-mini-fab color="warn" class="btnActions" aria-label="eliminar"
                        (click)="disableUser(user)" *ngIf="!showDisabledTable">
                        <mat-icon>delete</mat-icon>
                    </button>

                    <button mat-mini-fab color="accent" class="btnActions" aria-label="dar de alta"
                        (click)="enableUser(user)" *ngIf="showDisabledTable">
                        <mat-icon>person_add</mat-icon>
                    </button>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
        </table>
    </section>


    <section class="footerCard">
        <div class="paginator-container">
            <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons
                aria-label="Select page of periodic elements"></mat-paginator>
        </div>
    </section>
</body>

</html>