<mat-toolbar
  [color]="showDisabledTable ? 'warn' : 'primary'"
  class="toolbar-header"
>
  <span class="header-title">
    {{
      showDisabledTable ? "Productos Deshabilitados" : "Productos Habilitados"
    }}
  </span>
  <span class="spacer"></span>

  <button mat-stroked-button class="toggle-btn" (click)="createProduct()">
    <mat-icon>add</mat-icon> Agregar
  </button>

  <button mat-flat-button class="toggle-btn" (click)="toggleProductTableView()">
    <mat-icon>{{
      showDisabledTable ? "visibility" : "visibility_off"
    }}</mat-icon>
    {{ showDisabledTable ? "Ver habilitados" : "Ver deshabilitados" }}
  </button>
</mat-toolbar>

<app-product-list
  [products]="products"
  (edit)="onEdit($event)"
  (remove)="onRemove($event)"
  (enable)="onEnable($event)"
>
</app-product-list>
