/* GENERAL */
body {
  margin: 0;
  background: #fafafa;
  font-family: "Roboto", Arial, sans-serif;
}

/* TOOLBAR */
.toolbar-header {
  padding: 0 20px;
  background-color: #3f51b5;
  color: white;
}

.header-title {
  font-size: 22px;
  font-weight: 600;
}

.spacer {
  flex: 1 1 auto;
}

.toggle-btn {
  margin-left: 12px;
}

/* TABLE CONTAINER */
.table-card {
  padding: 20px;
  margin-top: 20px;
  background-color: #fff;
}

/* CELLS */
.centered-header,
.centered-cell {
  text-align: center;
}

td img {
  border-radius: 4px;
}

/* ACTION BUTTONS */
mat-icon-button {
  margin: 0 5px;
}

/* Bot칩n agregar */
.btnAdd {
  color: #000;
  background-color: #ffffff;
}

.btnAdd:hover {
  background-color: #e0e0e0;
}

/* Bot칩n toggle */
.toggle-btn {
  margin-left: 12px;
  border-radius: 4px;
}

/* Mejorar la visualizaci칩n de las filas */
.mat-header-cell,
.mat-cell {
  padding: 10px 20px;
}

/* Ajustes en las im치genes */
td img {
  border-radius: 4px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

::ng-deep button.secondary mat-icon {
  color: rgb(31, 127, 182);
}
