<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #cartSidenav mode="over" position="end" class="cart-sidenav">
    <!-- Usamos el nuevo componente -->
    <app-cart
      [cartItems]="cartItems"
      (updateCart)="cartItems = $event"
    ></app-cart>
  </mat-sidenav>

  <mat-sidenav-content>
    <div class="menu-container">
      <div class="header-menu">
        <h1 class="title">Nuestro Menú</h1>
        <button mat-raised-button color="accent" (click)="cartSidenav.toggle()">
          Ver Carrito 🛒
        </button>
      </div>

      <mat-tab-group mat-stretch-tabs="true">
        <mat-tab *ngFor="let category of categories" [label]="category.label">
          <ng-container *ngIf="category.products$ | async as products">
            <div class="grid" *ngIf="products.length > 0; else emptyCategory">
              <mat-card class="menu-card" *ngFor="let item of products">
                <div class="card-content-wrapper">
                  <div class="text-section">
                    <h2>{{ item.name }}</h2>
                    <p>{{ item.description }}</p>
                    <span class="price">{{ item.price | currency:'USD' }}</span>
                    <div class="button-wrapper">
                      <button mat-raised-button color="primary" (click)="addProductToCart(item)">
                        Añadir 🛒
                      </button>
                    </div>
                  </div>
                  <div class="image-section">
                    <img mat-card-image [src]="item.imageUrl" alt="{{ item.name }}" />
                  </div>
                </div>
              </mat-card>
            </div>
            <ng-template #emptyCategory>
              <div class="empty-message">No hay productos disponibles.</div>
            </ng-template>
          </ng-container>
        </mat-tab>
      </mat-tab-group>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
