.grid {
  display: grid;
  gap: 20px;
  padding: 20px 0;
  grid-template-columns: repeat(auto-fit, minmax(300px, 400px));
  justify-content: center;
}

.menu-card {
  border-radius: 12px;
  overflow: hidden;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  width: 100%;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.menu-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}

.card-content-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  flex: 1;
  gap: 15px;
}

.text-section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1;
  height: 100%;
}

.text-section h2 {
  margin: 0 0 10px 0;
  font-size: 20px;
  font-weight: 600;
}

.text-section p {
  margin-bottom: 10px;
}

.price {
  font-size: 18px;
  font-weight: bold;
  color: #d32f2f;
  margin-bottom: 10px;
}

.button-wrapper {
  text-align: center;
}

.image-section img {
  width: 120px;
  height: 120px;
  object-fit: cover;
  border-radius: 8px;
}

.empty-message {
  grid-column: 1 / -1;
  text-align: center;
  padding: 30px 0;
  font-size: 18px;
  color: #666;
  font-weight: 500;
}

.title {
  grid-column: 1 / -1;
  text-align: center;
  font-size: 18px;
  color: #141414;
  font-weight: 500;
}


/* Contenedor principal del sidenav */
.sidenav-container {
  height: 100vh;
  background: transparent;
}
.cart-sidenav {
  width: 380px;
  max-width: 90vw;
  display: flex;
  flex-direction: column;
  border-left: 1px solid #e0e0e0;
  box-shadow: -4px 0 15px rgba(0, 0, 0, 0.15);
  background: #fff;
  animation: slideIn 0.25s ease-out;
}
