<div mat-dialog-content class="medidas-dialog">
    <button class="close-button" mat-icon-button (click)="closeDialog()">
        <mat-icon>close</mat-icon>
    </button>

    <div class="text-center">
        <main class="form-signin">
            <img class="mb-4" src="https://avellaneda.ibeltran.com.ar/img/logo/logo.png" alt="Logo" />
            <h1 mat-dialog-title>Iniciar Sesión</h1>

            <form [formGroup]="loginUser" class="input-group-sm mb-4" (ngSubmit)="sendForm()">

                <div class="form-floating mb-4">
                    <input type="email" class="form-control" id="user-email" formControlName="email"
                        placeholder="email@example.com" autofocus />

                    <label for="user-email"> Correo Electronico</label>
                </div>

                <div class="form-floating mb-4">
                    <input type="password" class="form-control" id="floatingPassword" placeholder="Password"
                        formControlName="password" />
                    <label for="floatingPassword"> Contraseña</label>
                </div>

                <button mat-raised-button color="primary" class="w-100" type="submit">
                    Ingresar
                </button>

                <hr class="dropdown-divider" />

                <button mat-stroked-button color="accent" class="google-button" type="button" (click)="loginGoogle()">
                    <img src="assets/img/logo-google.png" alt="Google logo" class="google-logo"
                        style="height: 20px; margin-right: 8px;">
                    Ingresar con Google
                </button>

                <button mat-button color="warn" class="w-100 mt-2" type="button" (click)="registerDialog()">
                    Registrarse
                </button>



            </form>
        </main>
    </div>

</div>